#formulario{
  display: block;
  justify-content: center;
}

.card border-primary{
  background-color: rgb(155, 30, 30);
}

.card-header{
 background-color: rgb(155, 30, 30);
 text-align: center;
 color: white;
}

.input-group-prepend{
  color: rgb(155, 30, 30);
}

.btn{
  background-color: rgb(155, 30, 30);
  color: white;
}
