.carousel {
  width: 100%;
}

.rounded{
  display: block;
  margin: auto;
}

.col-lg-4 h2{
  text-align: center;
}

.col-lg-4 p{
  text-align: justify;
  margin: 5px;
}

.col-lg-4 .btn {
  background-color: rgb(155, 30, 30);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lead{
  text-align: justify;
}
