<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    Taller Sotomoto
  </a>
  <div class="collapse navbar-collapse mr-auto" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto text-center">
      <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/tienda']" routerLinkActive="active">Tienda</a>
      <a class="nav-item nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-5" id="parrafosFooter">

        <!-- Content -->
        <h6 class="text-uppercase" id="titleFooter">Taller Sotomoto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p id="textFooter"> Reparaciones, venta de motos de segunda mano, repuestos y accesorios</p>

      </div>

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-md-2 mx-auto mb-4 mt-5" id="parrafosFooter">

        <!-- Links -->
        <h6 class="text-uppercase" id="titleFooter">Links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a [routerLink]="['/']">Inicio</a>
        </p>
        <p>
          <a [routerLink]="['/tienda']">Tienda</a>
        </p>
        <p>
          <a [routerLink]="['/contacto']">Contactar</a>
        </p>
        <p>
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5" id="parrafosFooter">

        <!-- Links -->
        <h6 class="text-uppercase" id="titleFooter">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> C/ Argentea 6
          29010 (Málaga)</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 952 618 162</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="parrafosFooter"><p>© 2020 Copyright:<a href="https://mdbootstrap.com/"> MDBootstrap.com</a></p></div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
