<div class="container">
 <section class="jumbotron text-center ">
  <div class="container">
    <h1 class="jumbotron-heading">Nuestra Tienda</h1>
    <p class="lead text-muted">Podrás encontrar motos de segunda mano, repuestos de todas clases y accesorios como cascos, guantes... ¡Todo al mejor precio!</p>
    <p class="lead text-muted">Contacta con nosotros por email o llamando por teléfono</p>
  </div>
</section>
</div>

      <!-- Search form -->
<div class="md-form mt-0 mt-5 mb-5 mr-5 ml-5">
  <input class="form-control" type="text" [(ngModel)] = "filtroBusqueda" placeholder="Search" aria-label="Search">
</div>
<!-- Buttons categories -->
<!--<div class="btn-group mt-5 mb-3 col-md-6 mx-auto" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Motos</button>
  <button type="button" class="btn btn-primary">Repuestos</button>
  <button type="button" class="btn btn-primary">Accesorios</button>
</div>-->
<!-- Catálogo -->

<main role="main">

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4"  *ngFor="let catalogo of catalogo | filtroTienda: filtroBusqueda">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"  style="height: 250px;" src={{catalogo.image}} alt="Card image cap">
          <div class="card-body" >
            <h5 class="card-title" >{{catalogo.title}}</h5>
            <p class="card-text">{{catalogo.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="tel:+34636786185">Llamar</a>
                <a  class="btn btn-sm btn-outline-secondary" [routerLink]="['/contacto']">Email</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</main>



